<mat-card class="login-card">
  <mat-card-content>
    <mat-toolbar>
      <span>Edit User</span>
    </mat-toolbar>

    <form [formGroup]="formdata" class="my-form" (ngSubmit)="update(formdata.value)">

      <mat-form-field>
        <mat-select placeholder="Role?" formControlName="role">
          <mat-option *ngFor="let role of roles" [value]="role.value">
            {{ role.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>First Name</mat-label>
        <input type="text" matInput placeholder="First Name?" formControlName="firstName">
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Last Name</mat-label>
        <input type="text" matInput placeholder="Last Name?" formControlName="lastName">
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>User Name</mat-label>
        <input type="text" matInput placeholder="User Name?" formControlName="username">
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Password</mat-label>
        <input type="password" matInput placeholder="Password?" formControlName="password" autocomplete="nope">
      </mat-form-field>

      <button mat-raised-button color="primary" type="button" (click)="cancel()">Cancel</button>
      <button mat-raised-button color="primary" type="submit" class="floatRight" [disabled]="!formdata.valid">Update</button>

    </form>
    <!-- <div *ngIf="errorMessage">
		<div class="alert alert-danger" role="alert">
		  {{errorMessage}}
		</div>
	  </div> -->
  </mat-card-content>
  <!-- <mat-card-actions>
      <button mat-raised-button (click)="login()" color="primary">LOGIN</button>
   </mat-card-actions> -->
</mat-card>
<div *ngIf="saving$ | async">
  <mat-spinner style="margin:0 auto;"></mat-spinner>
</div>
