
<div *ngIf="!apptLoaded; else formShow">
    <mat-spinner style="margin:0 auto;" ></mat-spinner>
  </div>

  <ng-template #formShow>
  <mat-card class="newPt-card">
    <mat-card-content>
        <mat-toolbar color="accent">
            <span>Manage Appointment; {{currentPatient.firstName}} {{currentPatient.lastName}}
               ( {{currentAppt.date | date : 'EEE, MMMM d, y'}} {{currentAppt.timeSlot.slot}} )
            </span>
          </mat-toolbar>
    </mat-card-content>
  </mat-card>
  </ng-template>


<p>This page will be used to</p><ul>
    <li>cancel</li>
<li>reschedule</li>
<li>edit</li>
<li>complete appointments</li>
</ul>


<p>It could also link to patient history showing</p>
<ul>
<li>attendance record</li>
<li>future appts</li>
<li>referral details</li>
<li>risks</li>
<li>demographic details</li>



</ul>