.sidenav-container {
  height: 100%;
  
}

.sidenav {
  width: 150px;
//  background-color:#e7eefc;
background: inherit;
  color:rgb(63, 81, 181);
  align-content: flex-end !important;

}

// .sidenav .mat-toolbar {
//  background: inherit;
// }



.spacer {
flex: 1 1 auto;
}

.mat-toolbar button {
  margin: 0 20px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
   margin: 0;
   height: 45px;
}

.navBar {
  border: 2px solid;
  border-color: white ;
  }

  .is-active {
    background-color: rgb(63, 81, 181);
    color: white;
   
}

.menuitem {
   width: 100%;
}

